* {
  box-sizing: border-box;
  font-family: "Pliant", sans-serif;
}

h1 {
  text-align: center;
}

.topics {
  margin-top: 10px;
  margin-left: 20px;
}

.informations {
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 5px;
  height: 25px;
  display: block;
}

footer {
  font-size: 12px;
  text-align: center;
}

body {
  background-color: #063228;
  color: #d7cab6;
  margin-left: 20px;
}

input[type="text"],
input[type="number"],
.informations {
  width: 400px;
}

button {
  /* display: block; */
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 5px;
  height: 25px;
  cursor: pointer;
}

input,
button,
select {
  background-color: #d7cab6;
}

#part {
  background-color: #103d33;
  border: 1px, solid, #103d33;
  width: 500px;
  margin: 50px auto;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 3px;
}

#part1 {
  background-color: #103d33;
  border: 1px, solid, #103d33;
  width: 500px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 3px;
  margin: 50px auto;
}
